// ********************
// Contact us Page Starts
// ********************
// contact us banner Starts
.contactus-banner-main {
    @include banner-cmn-padding;
    background-image: url('../images/contact-banner.jpg');
}

// contact us banner Ends
// 
// contactus section main Starts
.contactus-section-main {
    @include section-cmn-padding;
    p.description {
        color: $dm-light;
        text-align: center;
    }
    .add-title {
        margin-bottom: 40px;
    }
    .add-des {
        width: 80%;
        margin: auto;
        margin-bottom: 5px;
    }
    .contact-inner {
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
        padding: 30px 60px;
    }
    .address-content {
        padding: 20px 30px;
    }
    .b-line {
        border-right: 1px solid #b8b8b8;
    }
    h6.title {
        text-align: center;
        font-family: unset;
        font-size: 22px;
        margin-bottom: 20px;
    }
    .get-form {
        padding-top: 40px;
    }
    h3.title {
        margin-bottom: 40px;
        text-align: center;
    }
    .form-control {
        height: 46px;
        background: transparent;
        border-radius: 0;
        border: 0;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
        &:focus {
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
        }
    }
    textarea {
        height: 180px !important;
        resize: none;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .btn {
        @include cmn-btn;
        margin-top: 20px;
    }
}

// contactus section main Ends